{% extends 'base.html' %}
{% load static %}
<head>
    <title>{% block title %}Acerca De{% endblock title %}</title>

</head>
{%block contenido%}
<div class=" pt-3 clearfix" style="background-color: #EDECE3;">
    <div class="container">

        <p class="text-center fs-3">Conocenos</p>
        <p class="text-start p-5">Estudiantes del Informatorio 2023, comision 2, grupo 1. Presentando el proyecto final
            de la
            Etapa 2 "Desarrollo Web". El mismo es un Blog de Posts de Robotica y relacionados. El proyecto fue
            desarrollado
            con el Framework <a href="#"
                class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Django</a>.
            Durante los 4 meses de duracion del Curso.
        </p>
        <div class="text-start my-1">
            <h5 class="px-5 fw-semibold text-secondary">Desarrolladores realizaron el Proyecto</h5>
            <div class="row gap-3 w-100  d-flex justify-content-evenly p-5">
                <div class=" card col-md-3 bg-transparent border-0 my-2">
                    <img src="{% static 'developers/lucas.jpg' %}"
                        class="object-fit-cover card-img-top img-fluid rounded-circle bg-secondary" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Lucas Alfonsin</h5>
                        <p class="card-text">Desarrollador Full Stack. Actualmente cursando el ultimo año de Tecnico en
                            Desarrollo de Software</p>
                        <div class="text-center">
                            <a href="https://www.linkedin.com/in/lucas-alfonsin-developer" class="btn btn-primary"><img src="{% static 'linkedin.svg' %}" alt=""> </a>
                            <a href="https://github.com/zLucas2021" class="btn btn-secondary"><img src="{% static 'github.svg' %}" alt=""> </a>
                        </div>
                    </div>
                </div>
                <div class=" card col-md-3 bg-transparent border-0 my-2">
                    <img src="{% static 'developers/guido.jpg' %}"
                        class="object-fit-cover card-img-top img-fluid rounded-circle bg-secondary" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Guido Olivera</h5>
                        <p class="card-text">Desarollador de software. Estudiante de Tecnicatura Universitaria en
                            Programación.</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary"><img src="{% static 'linkedin.svg' %}" alt=""> </a>
                            <a href="#" class="btn btn-secondary"><img src="{% static 'github.svg' %}" alt=""> </a>
                        </div>
                    </div>
                </div>
                <div class=" card col-md-3 bg-transparent border-0">
                    <img src="" class="object-fit-cover card-img-top img-fluid rounded-circle bg-secondary" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Giuliana Leoni</h5>
                        <p class="card-text">Diseñadora Grafica</p>
                        <div class="text-center">
                            <a href="https://www.linkedin.com/in/giuliana-leoni-532b91232/" class="btn btn-primary"><img
                                    src="{% static 'linkedin.svg' %}" alt=""> </a>
                            <a href="https://github.com/giulianaleoni" class="btn btn-secondary"><img
                                    src="{% static 'github.svg' %}" alt=""> </a>
                        </div>
                    </div>
                </div>


                <div class=" card col-md-3 bg-transparent border-0">
                    <img src="{% static 'developers/Meli.jpg' %}"
                        class="object-fit-cover card-img-top img-fluid rounded-circle bg-secondary" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Melisa Martinetti</h5>
                        <p class="card-text">Alumna de la Etapa 2 del Informatorio.
                            Estudiante de Licenciatura en Economía.
                            Administrativa Contable</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary"><img src="{% static 'linkedin.svg' %}" alt=""> </a>
                            <a href="#" class="btn btn-secondary"><img src="{% static 'github.svg' %}" alt=""> </a>
                        </div>
                    </div>
                </div>

                <div class=" card col-md-3 bg-transparent border-0">
                    <img src="{% static 'developers/ronialan.jpg' %}"
                        class="object-fit-cover card-img-top img-fluid rounded-circle bg-secondary" alt="...">


                    <div class="card-body">
                        <h5 class="card-title">Melisa Martinetti</h5>
                        <p class="card-text">Alumna de la Etapa 2 del Informatorio. 
                            Estudiante de Licenciatura en Economía. 
                            Administrativa Contable</p>
                        <div class="text-center">

                            <a href="https://www.linkedin.com/in/roni-alan-leszczuk-2042261b5/"
                                class="btn btn-primary"><img src="{% static 'linkedin.svg' %}" alt=""> </a>
                            <a href="https://github.com/roni4lan" class="btn btn-secondary"><img
                                    src="{% static 'github.svg' %}" alt=""> </a>

                        </div>
                    </div>
                </div>


                <div class=" card col-md-3 bg-transparent border-0">
                    <img src="" class="object-fit-cover card-img-top img-fluid rounded-circle bg-secondary" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary"><img src="{% static 'linkedin.svg' %}" alt=""> </a>
                            <a href="#" class="btn btn-secondary"><img src="{% static 'github.svg' %}" alt=""> </a>

                        </div>
                    </div>
                    
                    <div class=" card col-md-3 bg-transparent border-0">
                        <img src="" class="object-fit-cover card-img-top img-fluid rounded-circle bg-secondary" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text"></p>
                            <div class="text-center">
                                <a href="#" class="btn btn-primary"><img src="{% static 'linkedin.svg' %}" alt=""> </a>
                                <a href="#" class="btn btn-secondary"><img src="{% static 'github.svg' %}" alt=""> </a>
                            </div>
                        </div>
                    </div>
                    <div class=" card col-md-3 bg-transparent border-0">
                        <img src="" class="object-fit-cover card-img-top img-fluid rounded-circle bg-secondary" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text"></p>
                            <div class="text-center">
                                <a href="#" class="btn btn-primary"><img src="{% static 'linkedin.svg' %}" alt=""> </a>
                                <a href="#" class="btn btn-secondary"><img src="{% static 'github.svg' %}" alt=""> </a>
                            </div>
                        </div>
                    </div>
            </div>

            </div>
        </div>
    </div>
</div>


{%endblock contenido%}