{% load static %}

<!doctype html>
<html lang="es">

<head>
    <title> {% block title %} Proyecto {% endblock title %} </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'assets/img/iconpage.png' %}">

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
    <header>
        <!-- place navbar here -->
        <nav class="navbar navbar-expand-lg navbar-light shadow">
            <div class="container d-flex justify-content-between align-items-center">

                <a class="navbar-brand text-success logo h1 align-self-center" href="{% url 'apps.posts:index' %}">
                    Robotics G1
                </a>

                <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
                    id="templatemo_main_nav">
                    <div class="flex-fill">
                        <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'apps.posts:index' %}">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'apps.usuario:about' %}">Acerca de</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'apps.posts:posts' %}">Posts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'apps.contacto:contacto'%}">Contacto</a>
                            </li>
                        </ul>
                    </div>
                    <div class="nav-item align-self-center d-flex text-center">
                        {% if user.is_authenticated %}
                        <div class="btn-group d-flex ">
                            <p class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                data-bs-auto-close="true" aria-expanded="false">
                                <img src="{{ user.imagen.url }}" class="rounded-circle img-fluid"
                                    style="object-fit:contain;width: 2rem;" alt="{{ user.username }}">
                            </p>
                            <ul class="dropdown-menu p-4">
                                {% if user.is_superuser %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'apps.usuario:usuario_list'%}">Lista de Usuarios</a>
                                </li>
                                {% endif %}

                          {% if user.es_colaborador %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'apps.posts:agregar_post'%}">Nuevo Post</a>
                                </li>
                                <li><a class="dropdown-item" href="{% url 'apps.posts:postUser'%}">Mis Posts</a></li>

                                {% endif %}
                                <li>
                                    <a class="dropdown-item" data-bs-toggle="offcanvas" href="#offcanvasExample"
                                        role="button" aria-controls="offcanvasExample">
                                        Tus Datos
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'apps.usuario:eliminar_cuenta'%}">Eliminar Cuenta</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'apps.usuario:logout' %}">
                                        Logout
                                    </a>
                                </li>

                            </ul>
                        </div>
                        {% else %}
                        <a class="nav-icon position-relative text-decoration-none"
                            href="{% url 'apps.usuario:login' %}">
                            <span
                                class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">Login</span>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>


        {% block contenido %}

        {% endblock %}

        {% if user.is_authenticated %}
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Tus Datos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body row">
                <div class="col p-0 m-0">
                    <p>Usuario:{{ user.username }}</p>
                    <p>Correo:<span class="text-primary">{{ user.email }}</span></p>
                    <p>Nombre: {{ user.first_name }}</p>
                    <p>Apellido:{{ user.last_name }}</p>
                    <p>Imagen de Perfil</p>
                    <img class="img-fluid rounded" style="width: 10rem; object-fit: cover;margin-left: 3rem;"
                        src="{{ user.imagen.url }}" alt="">
                </div>
            </div>
        </div>
        {% endif %}
    </main>
    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer" style="z-index: -1;">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">Grupo 1 Informatorio</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            Chaco-Argentina
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:010-020-0340">En Proceso</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:null.com">grupo1@g1.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Integrantes</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="https://www.lucasalfonsin.site">Lucas Alfonsin</a></li>

                        <li><a class="text-decoration-none"
                                href="https://www.linkedin.com/in/roni-alan-leszczuk-2042261b5/">Roni Alan Leszczuk</a>
                        </li>

                        <li><a class="text-decoration-none"
                                href="https://www.linkedin.com/in/giuliana-leoni-532b91232/">Giuliana Leoni</a>
                        </li>

                        <li><a class="text-decoration-none"
                                href="https://www.linkedin.com/in/guido-olivera-735929244/">Guido Olivera</a>
                        </li>

                    <li><a class="text-decoration-none" href="#">Melisa Martinetti</a></li>      
                  <!--
                        <li><a class="text-decoration-none" href="#">Agregar Abajo sus Linkedins</a></li>

                    -->
                    </ul>
                </div>

            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Modificado Por El G1
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->
    <!-- Start Scripts -->
    <!-- <script src="{% static 'assets/js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/templatemo.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script> -->
    <!-- Bootstrap JavaScript Libraries -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script> -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
</body>

</html>