{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<head>
    <title>{% block title %}Agregar Categoria{% endblock title %}</title>

</head>
{% block contenido %}

<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="text-start row"  style="width: 50%; margin: auto;">
        <h2>Agregar Categoria</h2>
        <div class="gap-2">
            {% crispy form_categoria %}
            <button type="submit" class="btn btn-success">Guardar cambios</button>
            <a href="{% url 'apps.posts:agregar_post'%}" class="btn btn-primary">Volver</a>
        </div>
    </div>   
</form>
{% endblock %}