{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{%block contenido%}

<div class="text-center row " style="width: 25%; margin: auto;height: 40vh;" >
    <form method="post" action="{% url 'apps.usuario:login' %}{% if next_url %}?next={{ next_url }}{% endif %}">
        {% csrf_token %}
        <div class="text-center">
            {% crispy form %}           
            <button class="btn btn-primary" type="submit">Iniciar sesión</button>
            <a href="{% url 'apps.usuario:registrar' %}">¿No tienes cuenta? Haz clic aquí</a>
        </div>
    </form>
</div>
<h1>
    {{ mensaje }}
</h1>
{%endblock contenido%}