{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<form method="post" enctype="multipart/form-data" class="d-grid justify-content-center">
    {% csrf_token %}
    <div>
        <h2>Agregar Post</h2>
        {{ form_post.as_p }}
        <button type="submit" name="btn_post" class="btn btn-success">Guardar Post</button>
    </div>
    <div class="mt-1" >
    <p class="text-success">Aun No encuentras tu categoria? Creala!!</p>
    <button type="submit" name="btn_categoria" class="btn btn-success ">Agregar Categoria</button>
    </div>
</form>

{% endblock %}