{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}

<style>
    /* Archivo CSS en el template */
    .btn-guardar-cambios {
        display: none;
    }
</style>

<form method="post" enctype="multipart/form-data" class="d-grid justify-content-center">
    {% csrf_token %}
    <div>
        <h2>Agregar Post</h2>
        {% crispy form_post %}
        <button type="submit" name="btn_post" class="btn btn-success btn-guardar">Guardar Post</button>
        <p class="text-success">Aún no encuentras tu categoría? Créala!!</p>
        <button type="submit" name="btn_categoria" class="btn btn-success" formnovalidate>Agregar Categoría</button>
    </div>
</form>

{% endblock %}


