{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<h5 class="lead display-5 text-center text-primary fw-semibold">
    {{ categoria.nombre }}
</h5>
{% for i in posts %}
<div style="display: flex;">
    <div class=" card col-3 text-center my-1" style="width: 20rem;">
        <img src="{{ i.imagen.url}}" class="card-img-top img-fluid rounded float-start text-center" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ i.titulo }}</h5>
            <p class="card-text">{{ i.subtitulo }}</p>
            <a href="{% url 'apps.posts:postindividual' i.id %}" class="btn btn-primary">Ver Post</a>
        </div>
    </div>
</div>

{% empty %}
<p>No hay</p>
{% endfor %}
{% endblock %}